body {
  background-color: #f4eeff;
  font-family: "Poppins", sans-serif;
}
.wheater-section {
  background-color: white;
  margin: 150px auto;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
}
.search-form-input {
  background-color: #f4eeff;
  width: 70%;
  border-radius: 6px;
  padding: 15px 20px;
  border-color: #f4eeff;
  border-style: none;
  border-radius: 10px;
}

.search-form-button {
  background-color: #defcf9;
  border: 2px solid;
  border-radius: 10px;
  border-color: #6d42c7;
  color: #6d42c7;
  padding: 10px 20px;
  transition: all 235ms ease-in-out;
  font-size: 18px;
}
.search-form-button:hover {
  cursor: pointer;
  background-color: #6d42c7;
  border-color: #defcf9;
  color: #defcf9;
}
