body {
  background-color: #f4eeff;
  font-family: "Poppins", sans-serif;
}
.wheater-section {
  background-color: white;
  margin: 150px auto;
  max-width: 600px;
  padding: 30px;
  border-radius: 10px;
}
