body {
  background-color: #f4eeff;
  font-family: "Poppins", sans-serif;
}
.wheater-section {
  background-color: white;
  margin: 150px auto;
  max-width: 600px;
  padding: 40px;
  border-radius: 10px;
}
.search-form-input {
  background-color: #f4eeff;
  width: 70%;
  border-radius: 6px;
  padding: 15px 20px;
  border-color: #f4eeff;
  border-style: none;
  border-radius: 10px;
}

.search-form-button {
  background-color: #defcf9;
  border: 2px solid;
  border-radius: 10px;
  border-color: #6d42c7;
  color: #6d42c7;
  padding: 10px 20px;
  transition: all 235ms ease-in-out;
  font-size: 18px;
}
.search-form-button:hover {
  cursor: pointer;
  background-color: #6d42c7;
  border-color: #defcf9;
  color: #defcf9;
}

header {
  border-bottom: 1px solid #f4eeff;
  padding: 0 0 30px 0;
}
main {
  padding: 30px 0 30px 0;
}
footer {
  border-top: 1px solid #f4eeff;
  padding: 30px 0 0 0;
}
.wheater-app-data {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
.wheater-app-temperature-container {
  display: flex;
  justify-content: space-between;
}
.wheater-app-city {
  margin: 0;
  font-size: 45px;

  line-height: 65px;
}
.wheater-app-details {
  margin: 0;
  font-size: 14px;
  color: #9ba6a5;
}
.wheater-app-details strong {
  color: #118a7e;
}
.wheater-app-icon {
  font-size: 68px;
}
.wheater-app-unit {
  padding-top: 24px;

  font-size: 20px;
  font-weight: 400;
  display: absolute;
  top: 13px;
}
.wheater-app-temperture-value {
  font-size: 68px;
  font-weight: 450;
  padding-top: -15px;
}

.weather-forecast {
  color: #606470;
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.weather-forecast-day {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.weather-forecast-icon {
  display: block;
  margin: 0 auto;
}
.weather-forecast-temperatures {
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.weather-forecast-temperature-max {
  padding: 0 10px;
}
.weather-forecast-temperature-min {
  padding: 0 10px;
}
